<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css" />
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css" />
  <!-- Ion Icon Fonts-->
  <link rel="stylesheet" href="css/ionicons.min.css" />
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="css/magnific-popup.css" />

  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css" />

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/owl.theme.default.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet" />

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" />
  <!-- Your other stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheet/admin.css" />
</head>

<body>
  <div id="page">
    <nav class="colorlib-sidebar" role="navigation">
      <div class="sidebar-menu">
        <div id="colorlib-logo">
          <a href="home">BeeBarber</a>
        </div>
        <ul>
          <ul>
            <li class="<%= isActiveRoute('/statistical', locals.currentRoute)%>">
              <a href="/statisticals"><i class="material-icons">bar_chart</i> Thống kê</a>
            </li>
            <li class="<%= isActiveRoute('/home', locals.currentRoute)%>">
              <a href="/home"><i class="material-icons">home</i> Home</a>
            </li>
            <li class="<%= isActiveRoute('/order', locals.currentRoute)%>">
              <a href="/orders"><i class="material-icons">receipt</i> Đơn Hàng</a>
            </li>
            <li class="<%= isActiveRoute('/category_service', locals.currentRoute)%>">
              <a href="/categories_services"><i class="material-symbols-outlined">health_and_beauty</i>
                Thể loại dịch vụ</a>
            </li>
            <li class="<%= isActiveRoute('/service', locals.currentRoute)%>">
              <a href="/services"><i class="material-icons">build</i> Dịch vụ</a>
            </li>
            <li class="<%= isActiveRoute('/category_product', locals.currentRoute)%>">
              <a href="/categories_products"><i class="material-icons">category</i> Thể loại sản phẩm</a>
            </li>
            <li class="<%= isActiveRoute('/product', locals.currentRoute)%>">
              <a href="/products"><i class="material-icons">inventory</i> Sản phẩm</a>
            </li>
            <li class="<%= isActiveRoute('/banner', locals.currentRoute)%>">
              <a href="/banners"><i class="material-icons">image</i> Banner</a>
            </li>
            <li class="<%= isActiveRoute('/stylist', locals.currentRoute)%>">
              <a href="/stylists"><i class="material-icons">content_cut</i> Stylist</a>
            </li>
            <li class="<%= isActiveRoute('/customer', locals.currentRoute)%>">
              <a href="/customers"><i class="material-icons">person</i> Người dùng</a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <div class="content">
      <div id="screen">
        <%- body %>
      </div>
    </div>
  </main>
  <script>
    window.onload = function () {
      var defaultTitle = document.title;
      var path = window.location.pathname;
      if (path === "/home") {
        document.title = "Trang chủ - BeeBarber";
      } else if (path === "/categories_products") {
        document.title = "Danh mục sảm phẩm - BeeBarber";
      } else if (path === "/categories_services") {
        document.title = "Danh mục dịch vụ - BeeBarber";
      } else if (path === "/products") {
        document.title = "Sản phẩm - BeeBarber";
      } else if (path === "/services") {
        document.title = "Dịch vụ - BeeBarber";
      } else if (path === "/statisticals") {
        document.title = "Thống kê - BeeBarber";
      } else if (path === "/orders") {
        document.title = "Đơn hàng - BeeBarber";
      } else if (path === "/banners") {
        document.title = "Banner - BeeBarber";
      } else if (path === "/stylists") {
        document.title = "Stylist - BeeBarber";
      } else if (path === "/customers") {
        document.title = "Người Dùng - BeeBarber";
      } else {
        document.title = defaultTitle;
      }
    };
  </script>
</body>

</html>