<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css" />
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css" />
  <!-- Ion Icon Fonts-->
  <link rel="stylesheet" href="css/ionicons.min.css" />
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="css/magnific-popup.css" />

  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css" />

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/owl.theme.default.min.css" />

  <!-- Date Picker -->
  <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
  <!-- Flaticons  -->
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

  <!-- Theme style  -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div id="page">
    <nav class="colorlib-sidebar" role="navigation">
      <div class="sidebar-menu">
        <div id="colorlib-logo">
          <a href="home">Fstyle</a>
        </div>
        <ul>
          <li class="<%= isActiveRoute('/categories_product', locals.currentRoute)%>"><a href="categories_product">Thể loại</a></li>
          <li class="<%= isActiveRoute('/categories_service', locals.currentRoute)%>"><a href="categories_service">Thể loại dịch vụ</a></li>
          <li class="<%= isActiveRoute('/services', locals.currentRoute)%>"><a href="services">Dịch vụ</a></li>
          <li class="<%= isActiveRoute('/products', locals.currentRoute)%>"><a href="products">Sản phẩm</a></li>
          <li class="<%= isActiveRoute('/statistical', locals.currentRoute)%>"><a href="statistical">Thống kê</a></li>
          <li class="<%= isActiveRoute('/user', locals.currentRoute)%>"><a href="user">Quản lý người dùng</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <div class="container"><%- body %></div>
  </main>
  <%- include('../footer') -%>
</body>

</html>